# These scripts keep the cache fresh for the website.  Enable if website is in use.
# */10 *   * * *    /home/username/SFIWikiBot/scripts/refreshCache.sh wikiData
# 0    */6 * * *    /home/username/SFIWikiBot/scripts/refreshCache.sh gameData

# Push recent game updates to the wiki.  Requires a bot account to be set up and configured.
# 0    17  * * *    /home/username/SFIWikiBot/scripts/updateWikiContent.sh
