[settings]
# Visit https://starfighter-infinity.fandom.com/wiki/Special:BotPasswords to set up your password
botUsername =
botPassword =

# debug = False
# botCacheDir = /tmp
#
# These settings are recommended (2021-06-22)
botUnreleasedShipList = Forkworm Abomination, Face of Space
botBpLocationOverride = White Xandelevium Blaster=Sh-1-4, Quark Xandelevium Blaster=Obtain Green Xand, Quark Xandelevium Heat Disc=Obtain Green Xand
#
# botUnreleasedRaceList = Auto
# botUnreleasedSystemList = Auto
# botUnreleasedShipList =
# botBpLocationOverride =
#
# botCraftingPageName = Crafting
# botNprPageNameMapping = Andromedans=Andromedan, Ascendants=Ascendant, Dartians=Dartian, Devimon=Devimon, Forkworms=Forkworm, Ghosts=Ghost, Igni=Igni, Null Dwellers=Null Dweller, Prongworms=Prongworm, Radii=Radii, Red Mist=Red Mist, Relisk=Relisk, Resonites=Resonite, Robopheres=Robosphere, Rodions=Rodion, Sheenites=Sheenite, Solarions=Solarion, Splicers=Splicer, The Church of Megmos=Church of Megmos, The Gao=The Gao, Tobor=Tobor, Tornadians=Tornadian, Tyraan=Tyraan, Vacuum Flies=Vacuum Fly
# botMainFactionList = Human Alliance=, Alliance Science Corps=Human Alliance\#Alliance Science Corps, Aralien Empire=, Empire Intelligence=Aralien Empire\#Empire Intelligence, Freedom Initiative=
#
# botMaxWordsInArticleTitleSearch = 4
# botDefaultDpsTimeframeInSec = 10
# botShipMassForDamageCalculation = 2
# botTurnMultiplier = 30
#
# botShieldEffectIconClassMapping = Stealth - Andromedan=fas fa-low-vision, Gravity=fab fa-grav, Nuclear=fas fa-radiation, NPR Damage=fab fa-android, Beam Refracting=fas fa-slash, Cold Fusion=fas fa-snowflake, Deflector=, Effect Reduce=fas fa-angle-double-down, Electrostatic=fas fa-bolt, Energy Absorb=fas fa-charging-station, Explosive=fas fa-bomb, Frozen=fas fa-icicles, Heat Resist=fas fa-burn, Heat Weakness=fas fa-burn, Ghostly=fas fa-ghost, Laser=fas fa-asterisk, Overdose Resist=fas fa-wind, Photonic=fas fa-sun, Projectile=fas fa-ellipsis-h, Selective Effect Reduce=fas fa-angle-down, Stabiliser Fail=fas fa-fighter-jet fa-rotate-135, Mine Claimer=fas fa-hands, Mine Sweeper=fas fa-snowplow
# botDamageTypeIconClassMapping = Projectile=fas fa-ellipsis-h, Explosive=fas fa-bomb, Laser=fas fa-asterisk, Heat=fas fa-fire, Repair=fas fa-heartbeat, Electrostatic=fas fa-bolt, Tractor=fas fa-link, Photonic=fas fa-sun, RedMist=fas fa-wind, Cold=fas fa-snowflake, Ghostly=fas fa-ghost, EnergyExtraction=fas fa-sign-out-alt, ShieldExtraction=fas fa-sign-out-alt, Combo=fas fa-sign-out-alt, Undefined=fas fa-question-circle, Other=fas fa-question-circle, AmmoHarvest=fas fa-sign-out-alt fa-rotate-270, ShieldHarvest=fas fa-sign-out-alt fa-rotate-270, EnergyHarvest=fas fa-sign-out-alt fa-rotate-270, DartianMining=fas fa-sign-out-alt fa-rotate-270, Null=[html]&#8709;
# botEffectIconClassMapping =
#
# botWikiLinkReplacementOverrideList = Black Ship=Ascendant, Fork worm=Forkworm, Mini bomb=Minibomb
# botWikiLinkReplacementExclusionList = Black, Damage, Energy, Ships, Live
# botWikiLinkReplacementExactMatchRequiredList = Ascendance, Lives, Conqueror, Devastator, Mining, Craft, Recharger, Dephase, Dephaser, Destroyer, Gatherer, Organic, Organics, Organism, Organisms, Refus, Defender, Engineering, Utilize, Experience, Disheartener, Accumulator, Hunted
#
# botProjectileCountOverride = Sheenite Orbital Ultra Ring=30, Sheenite Orbital Chevron Ring=8
# botWeaponRangeOverride = Sheenite Orbital Ultra Ring=17, Sheenite Orbital Chevron Ring=17, Ascendant Gun Turret=125
# botSubWeaponIDOverride = Cake Bomb=cks, Stinger Cloud=st_1, Sheenite Orbital Ultra Ring=soc, Sheenite Orbital Chevron Ring=soc
# botWeaponHitCountOverride = Tornadian Ice Whirler=120, Tornadian Electro Whirler=120, Tornadian Plasma Whirler=120, Tornadian Rad Whirler=120
# botWeaponDamagePerHitOverride =
# botWeaponContinuousDamageTotalDamageOverride = Red Mist Horn Circle=480, Red Mist Drop Circle=525
# botWeaponLifeOverride =
#
# botPauseBetweenContentUpdateStepsInSec = 2
# botPauseAfterSuccessfullyUpdatingWikiPageInSec = 1.5
# botPauseAfterFailingToUpdateWikiPageInSec = 2
# botPauseAfterSkippingWikiPageUpdateInSec = 1
#
# botWikiImageAndPageListTtlSec = 900
# botPublicDatabaseContentTtlSec = 25200
# botPrivateDatabaseContentTtlSec = 25200
#
# botPublicDatabaseUrl = http://www.starfighterinfinity.com/Database.htm
# botPrivateDataUrlTemplate = https://www.benoldinggames.co.uk/sfi/gamedata/files/{}.jsonp
# botPrivateObjectListUrl = https://benoldinggames.co.uk/sfi/files/planets/planets.htm
